.welcome {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: wrap;
  height: 100%;
  overflow: hidden;
  perspective: 900px;

  code {
    font: {
      size: 3rem;
    }
    padding: 0 1.5rem;
    color: $red;
  }

  .geek-life {
    width: 12rem;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1.5s;
    animation: geek-box 2s 2s;

    &:hover {
      transform: rotateX(360deg);
    }

    @keyframes geek-box {
      0% {
        transform: rotateX(0deg);
      }

      100% {
        transform: rotateX(360deg);
      }
    }

    img {
      &.github {
        width: 100%;
      }

      &.cigarette {
        width: 8rem;
        left: -10rem;
        top: 4rem;
        opacity: 0;
        animation: cigarette 2s linear forwards;
      }

      @keyframes cigarette {
        0% {
          left: -50rem;
          opacity: 0;
        }

        20% {
          opacity: 1;
        }

        100% {
          left: 1rem;
          opacity: 1;
        }
      }

      &.glasses {
        width: 8rem;
        left: 2rem;
        top: -10rem;
        animation: glasses 1s linear forwards;
      }

      @keyframes glasses {
        0% {
          top: -50rem;
        }

        100% {
          top: 4.5rem;
        }
      }

      &.chain {
        width: 3.5rem;
        left: 4.2rem;
        bottom: -10rem;
        animation: chain 1.5s linear forwards;
      }

      @keyframes chain {
        0% {
          bottom: -50rem;
        }

        100% {
          bottom: -1.5rem;
        }
      }

      &.hat {
        width: 8rem;
        left: 1.5rem;
        top: -2rem;
        display: none;
      }

      &:not(.github) {
        position: absolute;
      }
    }
  }

  .react-logo-container {
    flex: 100%;
  }

  svg {
    margin: auto;
    display: block;

    .cls-1,
    .cls-2,
    .cls-3 {
      fill: none;
      stroke: $react-stroke;
      stroke-miterlimit: 10;
      stroke-width: 24px;
      stroke-dashoffset: -138rem;
      stroke-dasharray: 138rem;
      animation: 3s ease-in forwards;
      animation-name: draw-line;
    }

    .cls-2 {
      stroke-dashoffset: 138rem;
    }

    @keyframes draw-line {
      100% {
        stroke-dashoffset: 0;
      }
    }
  }
}
