@import './style/variables/colors';
@import './style/common.scss';

body {
  color: $red;
  height: 100vh;
  background-color: $white;
  margin: 0;
  font: {
    family: 'Bahianita';
  }

  @import './style/header';
}
